# OS junk
.DS_Store

# Dependencies
node_modules/
package-lock.json

# Build by-products
.gobble/
.gobble-build/
.gobble-watch/
*.umd.js
*.umd.js.map
*.es.js
*.es.js.map
*.iife.js
*.iife.js.map

# Log files
*.log
